{{define "title"}}{{.Title}}{{end}}
{{define "body"}}
<h2 class="text-xl text-semibold mb-8">{{.Post.Title}}</h2>
<div>{{.ContentHtml}}</div>
<br>
<hr class="my-4">
<span><a href="/">Go Back</a></span>
{{end}}