<html>

<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/public/assets/main.css">
</head>

<body class="h-full flex flex-col items-center justify-center">
    <h2 class="text-xl text-bold">Login to Admin Panel</h2>

    <form action="/login" method="POST">
        <div class="form-control w-full max-w-xs mt-4">
            <input type="text" placeholder="Username" name="username" id="username"
                class="input input-bordered w-full max-w-xs" autofocus />
        </div>
        <div class="form-control w-full max-w-xs my-4">
            <input type="text" placeholder="Password" name="password" id="password"
                class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="text-center mt-4">
            <span class="text-red-400">{{.Text}}</span>
        </div>
    </form>
</body>

</html>