<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Semir Ramovic | life of sems | Learn Programming, Coding</title>
</head>

<body>
    {{template "header"}}
    <h2>{{.Title}}</h2>
    <div>{{.Content}}</div>

    <span><a href="/">Go Back</a></span>
</body>

</html>

<style>
    body {
        width: 75%;
        margin: auto;
        padding-top: 25px;
    }
</style>