<html>

<head>
    <title>A wild error</title>
    <link rel="stylesheet" href="/public/assets/main.css">
</head>

<body class="h-full flex flex-col items-center justify-center">
    <h2 class="text-xl text-bold">
        {{.Text}} (Status {{.Status}})
    </h2>
    <br>
    <button class="btn btn-primary"><a href="/">Go back</a></button>
</body>

</html>